POSTGRES_DB=hypertide
POSTGRES_USER=hypertide
POSTGRES_PASSWORD=hypertide
POSTGRES_PORT=5432

APP_PORT=3000
DB_MAX_CONNECTIONS=10
DB_ACQUIRE_TIMEOUT_SECS=5
AUTH_PEPPER=hypertide-dev-pepper
JWT_ISSUER=hypertide
ACCESS_TOKEN_TTL_SECS=900
REFRESH_TOKEN_TTL_SECS=604800
RUST_LOG=hypertide_cli=info,hypertide=info,tower_http=info
